html{
    font-size: 100px;
}
*{
    margin:0;
}

.toubu{
    width:3.2rem;
    height:0.41rem;
    border:1px solid #ccc;
    margin:0 auto;
    background: #1a1a1f;
}

.toubu1{
    position: relative;
    top:-0.8rem;
    left:0.08rem;
    color:white;
    font-size:0.2rem;
}
.toubu2{
    padding-left:0.6rem;
    color:white;
    font-size:0.2rem;
    display: inline;
    position: relative;
    top:-0.8rem;
    left:-0.1rem;
    text-align: center;
}
.toubu3{
    padding-left:2.5rem;
    position: relative;
    top:-2.1rem;
}   
.touxia{
    width:3.2rem;
    height:1rem;
    border:1px solid #ccc;
    margin:0 auto;
}
.touxia1{
    font-size: 0.12rem;
    position: relative;
    top:-0.8rem;
    left:-0.3rem;
}
.touxia2{
    font-size: 0.16rem;
    color:red;
    position: relative;
    top:-1.85rem;
    left:0.9rem;
}
.zhongjian2{
    font-size: 0.16rem;
    margin-left:1.4rem;
    margin-top:-2rem;
}
.zhongjian2 td{
    width:0.4rem;
}
.touxia1{
    font-size: 0.12rem;
    position: relative;
    top:-0.8rem;
    left:-0.3rem;
}
.touxia2{
    font-size: 0.16rem;
    color:red;
    position: relative;
    top:-1.85rem;
    left:0.9rem;
}
.zhongjian2{
    font-size: 0.16rem;
    margin-left:1.4rem;
    margin-top:-2rem;
}
.zhongjian2 td{
    width:0.4rem;
}
.shanchu{
    font-size: 0.16rem;
    border:1px solid #ccc;
    display:inline-block;
    position: relative;
    top:-0.8rem;
    left:0.2rem;
}
.shangpin{
    font-size: 0.16rem;
    position: relative;
    top:-0.8rem;
    left:0.5rem;
}

.dibu{
    width:3.2rem;
    height:1rem;
    border:1px solid #ccc;
}
.dibu1{
    font-size: 0.16rem;
    position: relative;
    top:-0.5rem;
    left:-0.3rem;
}
.dibu2{
    font-size: 0.16rem;
    position: relative;
    top:-1.8rem;
    left:1rem;
}
.dibu3{
    font-size: 0.16rem;
    position: relative;
    top:-1.5rem;
}